<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="perfil.page.scss" />
  </head>
  <body>
    <div class="main-container">
      <div class="section">
        <div class="frame">
          <div class="group"></div>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="frame-1">
          <div class="product"></div>
          <span class="productos">Productos</span>
        </div>
        <div class="frame-2">
          <div class="message"></div>
          <span class="mensajes">Mensajes</span>
        </div>
        <div class="frame-3">
          <div class="setting"></div>
          <div class="frame-4">
            <div class="frame-5"><span class="ajustes">Ajustes</span></div>
          </div>
        </div>
        <div class="image"></div>
      </div>
      <span class="user-profile">Perfil de usuario</span>
      <div class="frame-6">
        <div class="frame-7">
          <div class="image-8"></div>
          <span class="span-francisco">Francisco </span>
        </div>
      </div>
      <div class="frame-9">
        <div class="fe-arrow-down"><div class="vector"></div></div>
      </div>
      <span class="span-marketplace-pucv">Marketplace<br />PUCV</span>
      <div class="frame-a">
        <div class="fe-arrow-down-b"></div>
        <div class="frame-c">
          <span class="span-perfil">Perfil</span
          ><span class="span-cuenta">Cuenta</span
          ><span class="span-seguridad">Seguridad</span>
        </div>
        <div class="line"></div>
        <div class="line-d"></div>
      </div>
      <div class="frame-e">
        <div class="image-f"></div>
        <div class="frame-10">
          <span class="francisco-castro">Francisco Castro </span>
          <div class="frame-11">
            <span class="estudiante">Estudiante</span
            ><span class="activo">Activo</span
            ><span class="ingenieria-informatica"
              >Ingeniería en informática</span
            >
          </div>
        </div>
      </div>
      <div class="frame-12">
        <div class="lets-icons-order"><div class="group-13"></div></div>
        <span class="pedidos">Pedidos</span>
      </div>
      <div class="frame-14">
        <div class="material-symbols-favorite-outline"></div>
        <span class="favoritos">Favoritos</span>
      </div>
      <div class="section-15">
        <div class="flex-row">
          <span class="informacion-personal">Información personal</span>
          <div class="ic-baseline-edit"></div>
        </div>
        <div class="flex-row-cb">
          <span class="genero">Género</span>
          <div class="frame-16">
            <span class="noviembre">Noviembre 6, 2001</span>
          </div>
          <span class="masculino">Masculino</span>
        </div>
        <div class="flex-row-df">
          <div class="frame-17">
            <span class="numero-de-telefono">Número de teléfono 1</span
            ><span class="telefono-1">(+56) 1 7821 4869</span>
          </div>
          <div class="frame-18">
            <span class="numero-de-telefono-19">Número de teléfono 2</span
            ><span class="telefono-2">(+56) 1 7821 4869</span>
          </div>
        </div>
      </div>
      <div class="section-1a">
        <div class="flex-column-dd">
          <span class="direccion">Dirección 2</span
          ><span class="limache">Guatyu sei, 0225, Limache, V región</span
          ><span class="limache-1b">Guatyu sei, 0225, Limache, V región</span>
        </div>
        <div class="baseline-edit"></div>
      </div>
      <div class="frame-1c">
        <div class="vector-1d"></div>
        <div class="frame-1e">
          <div class="frame-1f">
            <div class="material-symbols-help-outline"></div>
            <span class="ayuda">Ayuda</span>
          </div>
        </div>
      </div>
      <div class="frame-20">
        <span class="fecha-de-nacimiento">Fecha de nacimiento</span>
      </div>
      <div class="section-21">
        <div class="flex-row-aff">
          <span class="direccion-22">Dirección 1</span>
          <div class="ic-baseline-edit-23"></div>
        </div>
        <span class="guatyu-sei">Guatyu sei, 0225, Limache, V región</span>
      </div>
      <div class="section-24">
        <div class="ic-baseline-edit-25"></div>
        <span class="informacion-de-la-cuenta">Información de la cuenta</span>
      </div>
      <div class="frame-26">
        <div class="frame-27"></div>
        <span class="correo-electronico"
          >Correo eléctronico: watyusei123@gmail.com</span
        >
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
