<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="Buscar productos, categorías…"
    (ionInput)="onSearch($event)"
  >
  </ion-searchbar>

  <section class="home-filters">
    <ion-button fill="outline" size="small">Categoría</ion-button>
    <ion-button fill="outline" size="small">Estado</ion-button>
    <ion-button fill="outline" size="small">Precio</ion-button>

    <!-- Estado -->
    <ion-segment [value]="estadoSel" (ionChange)="onEstadoChange($event)">
      <ion-segment-button value="todos"
        ><ion-label>Todos</ion-label></ion-segment-button
      >
      <ion-segment-button value="venta"
        ><ion-label>Venta</ion-label></ion-segment-button
      >
      <ion-segment-button value="intercambio"
        ><ion-label>Intercambio</ion-label></ion-segment-button
      >
      <ion-segment-button value="prestamo"
        ><ion-label>Préstamo</ion-label></ion-segment-button
      >
    </ion-segment>

    <!-- Precio -->
    <div class="precio-range">
      <ion-input
        type="number"
        placeholder="Min $"
        [(ngModel)]="minPrecio"
        (ngModelChange)="onPrecioChange()"
      >
      </ion-input>

      <ion-input
        type="number"
        placeholder="Max $"
        [(ngModel)]="maxPrecio"
        (ngModelChange)="onPrecioChange()"
      >
      </ion-input>
    </div>
  </section>

  <section class="home-grid" *ngIf="visibles?.length; else vacio">
    <ion-grid>
      <ion-row>
        <ion-col
          size="12"
          size-md="6"
          size-lg="4"
          size-xl="3"
          *ngFor="let p of visibles; trackBy: trackById"
        >
          <ion-card>
            <div class="thumb"></div>
            <ion-card-header>
              <ion-card-title>{{ p.titulo }}</ion-card-title>
              <ion-card-subtitle>
                {{ p.estado | titlecase }} · {{ p.precio > 0 ? ('$' + (p.precio
                | number:'1.0-0')) : 'Gratis' }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button size="small" fill="solid">Ver detalle</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <ng-template #vacio>
    <div class="empty">No encontramos resultados para tu búsqueda 🤷‍♂️</div>
  </ng-template>
</ion-content>
